body{
    background: rgb(26, 94, 76);
    margin: 0;
    padding: 0;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: white;
    font-size: 60px;
    display: grid;
    place-items: center;
}
h3{
    color: white;
    display: grid;
    place-items: center;
    font-size: 30px;
}
p{
    color: white;
}

.btn{
    text-decoration: none;
    padding: 1.2rem 3rem;
    background-color: rgb(30, 69, 55);
    border-radius: 25px;
    color: white;
    transition: all 0.3s;
    display: inline-block;
}
.btn:hover{
    background-color: greenyellow;
    color: black;
    transform: scale(1.2);
}
.btns{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}
.images{
    display: flex;
    gap:40px;
    justify-content: center;
}
.img{
    border-radius: 20px;
    width: 200px;
    height: auto;
}
.logo{
    position: absolute;
    top: 5px;
    right: 20px;
    width: 150px;
    height: auto;
}