{% extends "base.html" %}
{% load static %}
{% block title %}Corrige la palabra{% endblock %}
{% block extra_css%}
  <link rel="stylesheet" href="{% static 'css/juego.css' %}">
{% endblock %}
{% block content%}
  <h1 id="Title">Juego "Corrige la palabra":</h1>

    <form method="post">
      {% csrf_token %}
      <div class ="rectangulo-verde1">
          <p class="Text"> Escribe la letra que crees que corresponda aquí:</p>
          <div class="correccion-linea">
          <span>{{ part1 }}</span>
          <textarea rows="1" cols="1" name="texto" >{{ texto }}</textarea>
          <span>{{ part2 }}</span>
        </div>

      </div>
      <div class="botones">
        <button type="submit" name="accion" value="validar" >Enviar el texto</button>
        <button type="submit" name="accion" value="saltar" >Jugar de nuevo/Saltar palabra</button>

      </div>
    </form>
  <div class ="rectangulo-verde2">
    <div class="descripcion">
    <h2 class="Signi">{{significado}}</h2>
      </div>
  </div>

  {% if result %}
  <div class ="overlay">
   <div class ="transparente">
    <h2 class="Signi">Resultado</h2>
    <p class="Text">-{{ result.mensaje|escape }}</p>
    <h2 class="Signi">¿Cuál era la regla que le correspondía?</h2>
    <p class="Text">{{ result.correccion|escape }}</p>

    <button type ="button"
    id ="botoncerrar">Cerrar</button>
    </div>
  </div>  
  {% endif %}
  {% if pal_acabadas %}
  <div class ="overlay">
   <div class ="transparente">
    <h2 class="Signi">Se acabo esta ronda de palabras, ¿Quieres continuar con este tema o quieres empezar con otro?</h2>
    <div class= "botones">
      <form method="post">
        {% csrf_token %}
        <button type="submit" name="accion" value="continuar" >Continuar con este tema<br>
          (con la misma cantidad de palabras)

        </button>
        <button type="submit" name="accion" value="cambiar" >Cambiar de tema</button>
        <button type="submit" name="accion" value="lobby" >Dejar de jugar</button>
      </form>
      
      
    </div>
  </div>  
  {% endif %}
  <script src="{% static 'js/juego.js' %}">
    
  </script>
 {% endblock %}