<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>-----Lexi-----</title>
  <link rel="stylesheet" href="juego.css">
</head>
<body>
  <h1>Corrige la palabra</h1>


    <p>Corrige la palabra: </p>

    <div class ="rectangulo-verde1">
    <p><strong>{{mi_palabra}}</strong></p>

    <textarea rows="3" cols="20" placeholder="Escribe la palabra aquí"></textarea><br>


    </div>


  <form>
    
    <div class="botones">
      <button type="submit" >Enviar el texto</button>
      <button type="button" >Jugar de nuevo/Saltar palabra</button>

    </div>
  </form>



  <div class ="rectangulo-verde2">
    <div class="descripcion">
    <h2>{{significado}}</h2>
      </div>


{% if result %}
    <h2>Resultado</h2>
    <p>-{{ result.mensaje|escape }}</p>
    <p>Que errores tenía: {{ result.correccion|escape }}</p>
    <p>Original: {{ result.palabraBuena|escape }}</p>

    
  {% endif %}
  
</body>
</html>