{% load static %}
<html lang="es">
<head></head>
<body>

<div class="contianer-form">
    <h2>Acceder</h2>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <hr>
    <div class="login_container">
        {% if form.errors %}
            <div class="alert alert-danger"> <p> Tu usuario y contraseña no coinciden. Por favor intente nuevamente.</p>
            </div>
        {% endif %}
        <form id="form-login" method="post" action="">
            {% csrf_token %}
            <div class="w450" id="password">
            <label for="{{ form.username.id_for_label }}">Ingrese su usuario:</label>
                {{ form.username }}
            </div>
            <div class="w450" id="password">
                <label for="{{ form.password.id_for_label }}">Ingrese su contraseña:</label>
                {{ form.password }}
            </div>
            <button id="btn-registrar" class="button_large">Entrar</button>
            <div class="clearfix"></div>
        </form>
        <a href="#" class="txt_verde txt_center mt15 mb20" style="display: block;">Aviso de privacidad</a><br>
        {% if request.GET.next %}
        <div class ="alert-warning-restriction">
            ⛔️ ¡Acceso Restringido! Debes iniciar sesión para acceder a esta página.
        </div>
        {% endif %}
    </div>
</div>

</body>
</html>