{% block title %} {{ title }} {% endblock title %}

{%block content %}
    <h2> Iniciar sesión</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Iniciar sesión</button>
    </form>
{% block content %}