.container{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dashed white;
    padding: 1rem;
    border-radius: 25px;
    background-color: rgb(33, 73, 62);
}
.ajuste{
    border-right: 3px dashed white;
    text-align: center;
    padding: 1rem;
}
.ajuste h3{
    margin-bottom: 2rem;
}
.stats{
    text-align: center;
    padding: 1rem;
}
ul{
    list-style: none;
}
.info{
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.photo{
    float: left;
    width: 8rem;
}

.button a{
    width: 100%;
    height: 100%
}
.button{
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.304);
    color: white;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer; 
    text-align: center;
    transition: background-color .2s, border-color .2s, box-shadow .2s, transform .15s; 
}
.close{
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.304);
    color: white;
    margin: 1rem;
    cursor: pointer; 

    transition: background-color .2s, border-color .2s, box-shadow .2s, transform .15s; 
}
.close:hover{
    background: #2a8a62;
    border-color: greenyellow;
    transform: scale(1.01);
}
.bt{
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;  
    padding: 1rem;
}

.button:hover{
    background: #2a8a62;
    border-color: greenyellow;
    transform: scale(1.01);
}
.data{
    color: white;
    padding: 1rem;
    margin: 1rem;
}


#form-username, #form-password {
    margin: 1rem auto;
    display: none; 
    padding: 15px; 
    
    
    
    background-color: rgb(40, 90, 78); 
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; 
    max-width: 350px;
    
    
    h4 {
        margin-bottom: 15px;
        color: white;
    }
}


#form-username p, #form-password p{
    margin: 10px 0; 
}

#form-username label, #form-password label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}


#form-username input, #form-password input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black; 
}


.button_small {
    background-color: rgb(173, 255, 47);
    color: rgb(26, 94, 76); 
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.button_small:hover {
    background-color: rgb(0, 128, 70);
    color: white;
}

#us{
    color: greenyellow;
}