/*general adjustment*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 94, 76);
    color: white;
}
/*header*/
header{
    background:  rgb(26, 94, 76);
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 2px solid rgb(7, 39, 31);
    position: fixed;
    top: 0;
    left: 0;
}
/*left section*/
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
.left .logo{
    width: 3rem;
}
.left .name{
    font-size: 1.5rem;
}
/*right section*/
.right{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.right img{
    width: 2rem;
    height: 2rem;
}
.openDialog{
    all: unset;
    cursor: pointer;
}
.profile{
    width: 3rem;
    border-radius: 50%;
}
.name{
    color: white;
}
.btn:hover{
    background-color: greenyellow;
    border-radius:5px;
    transition: all 0.3s;
}

.openDialog:hover{
    background-color: greenyellow;
    border-radius:5px;
    transition: all 0.3s;
}