/*general adjustment*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 94, 76);
    color: white;
}
/*header*/
header{
    background:  rgb(26, 94, 76);
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 2px dashed rgb(255, 255, 255);
    position: sticky;
    top: 0;
    left: 0;
}
/*left section*/
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
.left .logo{
    width: 3rem;
}
.left .name{
    font-size: 1.5rem;
}
/*right section*/
.right{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.right img{
    width: 2rem;
    height: 2rem;
}

.profile{
    width: 3rem;
    border-radius: 50%;
}
.name{
    color: white;
}
.btn:hover{
    background-color: greenyellow;
    border-radius:5px;
    transition: all 0.3s;
}
.modal-container{
    background: rgba(0, 0, 0, 0.35);  
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 250;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%;

    background-color: #1E4537;
    border-radius: 15px;
    border: 1px solid #fffff1;
    z-index: 300;
    color: white;           
    padding: 30px 50px;
    /*para que el texto largo se ajuste*/
}

#btn-abrir-modal{
    all: unset;
    cursor: pointer;
}

#btn-abrir-modal:hover{
    background-color: greenyellow;
    border-radius: 5px;
    transition: all 0.3s;
}
#btn-cerrar-modal{
    padding: 1.2rem 2rem;
    background: rgb(30,69,55);
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.304);    
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color .2s, border-color .2s, color .2s, box-shadow .2s, transform .15s;
}
#btn-cerrar-modal:hover{
    background: #2a8a62;              
    border-color: greenyellow;          
    transform: scale(1.03);
}



