/*general adjustment*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
/*header*/
header{
    background: rgb(180, 171, 171);
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    border-bottom: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
}
/*left section*/
.left{
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}
.left .logo{
    width: 3rem;
}
.left .name{
    font-size: 1.5rem;
}
/*right section*/
.right{
    border: 2px solid green;
}
.right img{
    width: 3rem;
    margin: 0.5rem;
}