/* Textos*/
#Title{
    color: white;
    font-size: 40px;
    display: grid;
    place-items: center;
}

.Signi{
    color: white;
    font-size: 20px;
    display: grid;
    place-items: center;

}

.Text{
    color: white;
    text-align: center;
    font-size: 20px;
}

/*Contenedores de texto*/
.rectangulo-verde1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 5px;
  width: 90%;                   
  max-width: 530px;             
  height: 120px;                
  background-color: #1E4537;    
  
  margin: 30px auto;            
  border-radius: 25px;         
  border: 1px solid #ffffff;
}

.rectangulo-verde2{                  
  max-width: 700px;             
  height: auto;  
  padding: 10px;
  text-align: center; 

  background-color: #1E4537;    
  
  margin: 30px auto;            
  border-radius: 15px;         
  border: 1px solid #fffff1;
}


textarea{
    width: 30px;
    height: 34px;
    place-items: center;
    background-color: rgb(26, 100, 76);
    outline: none;
    overflow: hidden;/* Evita barras de desplazamiento */
    resize: none;
    border: 2px solid #999;
    color: white; /* Para que el texto de los span se vea */
    font-size: 1.2em
    
    

}

.correccion-linea {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5px;
    width: 100%; /* Para que el centrado funcione */
    margin: 0 auto;
    margin-top: 1px; /* Separación de la palabra de arriba */
    color: white; /* Para que el texto de los span se vea */
    font-size: 1.8em;
}

.botones{
  border: 3px;
  display: flex;
  justify-content: center; 
  gap: 15px;               
  margin-top: 10px;

  
}

.botones button{
  padding: 1.2rem 2rem;
  background: rgb(30,69,55);
  color: #fff;
  border: 3px solid transparent;    
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color .2s, border-color .2s, color .2s, box-shadow .2s, transform .15s;
}

.botones button:hover{
  background: #2a8a62;              
  border-color: greenyellow;          
  transform: scale(1.03);
}


.overlay {
  position: fixed;
  inset: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);  
  backdrop-filter: blur(6px);
  z-index: 999;                     
}

.transparente {
  background-color: #1E4537;  
  color: white;
  padding: 20px 30px;
  border-radius: 15px;
  border: 1px solid #fffff1;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  text-align: center;
}

#botoncerrar{

  text-decoration: none;
  padding: 1.2rem 3rem;
  background-color: rgb(30, 69, 55);
  border-radius: 25px;
  color: white;
  transition: all 0.3s;
  border: none;
  cursor: pointer;

}

#botoncerrar:hover {
  background: #2a8a62;              
  border-color: greenyellow;          
  transform: scale(1.03);


}

.overlay.oculto{
  display: none;
}