/*content box*/
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 8rem;
}
h3{
    padding: 1rem;
    text-align: center;
}
h1{
    text-align: center;
    padding: 1rem;
}
/*button box*/
.select{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 3rem; 
    margin: 1rem auto;
    margin-top: 3rem; 
    width: 90%; 
}
/*button*/
.type{
    font-size: 1.5rem;
    text-align: center;
    background: rgb(62, 127, 79);
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
    gap: 1rem;
    color: white
    ;
    
}
.type:hover{
    background: #2a8a62;
    border-color: greenyellow;
    transform: scale(1.01);
}
img{
    width: 5rem;
    height: auto;
}
