/*content box*/
.container{
    margin: auto;
    margin-top: 4rem;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
}
h3{
    padding: 1rem;
    text-align: center;
}
h1{
    text-align: center;
    padding: 1rem;
}
/*button box*/
.select{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 3rem; 
    margin: 1rem auto;
    width: 70%; 
    border: 5px dashed white;
    padding: 4rem;
    border-radius: 25px;
    background-color: rgb(33, 73, 62);
}
/*button*/
.type{
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid rgba(255, 255, 255, 0.304);;
    border-radius: 1rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
    gap: 1rem;
    color: white;
    transition: background-color .2s, border-color .2s, box-shadow .2s, transform .15s; 
    
}
.type:hover{
    background: #2a8a62;
    border-color: greenyellow;
    transform: scale(1.01);
}
img{
    width: 5rem;
    height: auto;
}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.304);
    padding: 1rem;
    gap: 3rem;
    border-radius: 25px;
}
.words{
    width: 50%;
    text-align: justify;
}

.ex{
    width: 150px;
    height: auto;
}
.mucho-div{
    border: 2px dashed white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:70%;
    margin: 1rem;
}
.modal h2{
    padding-bottom: 2rem;
}