body {
    background: rgb(26, 94, 76);
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
    min-height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}


.container-form {
    width: 90%;
    max-width: 450px; 
    background-color: #1E4537; 
    padding: 30px;
    border-radius: 25px; 
    border: 1px solid #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    margin: 40px auto;
    margin-top: 5rem;
    color: #b3d9b3;
}

.registration_container .helptext ul {
    color: #b3d9b3; /* Color verde claro */
    font-size: 0.9em;
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 0;
}
.registration_container .helptext ul li {
    margin-bottom: 3px;
}
.container-form h3 {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 5px;
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
}


label {
    display: block; 
    color: #b3d9b3; 
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.registration_container input[type="text"],
.registration_container input[type="password"],
.login_container input[type="text"],
.login_container input[type="password"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #2a8a62;
    border-radius: 8px;
    background-color: rgb(26, 100, 76); 
    color: white;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s;
}

.login_container input:focus
.registration_container input:focus {
    border-color: greenyellow;
    outline: none;
}


.button_large {
    width: 100%; 
    margin-top: 30px;
    padding: 12px 0;
    background: rgb(30, 69, 55);
    color: #fff;
    border: 3px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color .2s, border-color .2s, box-shadow .2s, transform .15s;
}

.button_large:hover {
    background: #2a8a62;
    border-color: greenyellow;
    transform: scale(1.01);
}


.alert-danger {
    background-color: #dc3545; 
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
}
.alert-danger p {
    margin: 0; 
}


.txt_verde {
    color: #8fbc8f !important;
    text-align: center;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    font-size: 14px;
}
.txt_verde:hover {
    text-decoration: underline;
}


.alert-warning-restriction {
    color: #383d41;
    background-color: #ffc107; 
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

h2{
    color: white;
    font-size: 40px;
    display: grid;
    place-items: center;
}
.registration_container label {
    display: block; 
    color: #b3d9b3; /* Color verde claro para las etiquetas */
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.registration_container p {
    margin: 0;
    padding: 0;
}