body{
    background-color: rgb(26, 94, 76);
}
.cont{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 5rem;;
}
h1{
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 1rem;
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 2rem;
}
p{
    color: white;
}

.bt{
    text-decoration: none;
    padding: 1.2rem 3rem;
    background-color:  rgb(26, 94, 76);
    border-radius: 25px;
    color: white;
    transition: all 0.3s;
    display: inline-block;
}
.bt:hover{
    background-color: greenyellow;
    color: black;
}
.btns{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}
.images{
    display: flex;
    gap:40px;
    justify-content: center;
}
.img{
    border-radius: 20px;
    width: 200px;
    height: auto;
}
.block{
    background-color: rgb(33, 73, 62);
    border-radius: 2rem;
    width: 70%;
    margin:auto;
    margin-top: 2rem;
    border: 2px solid white;
}