body{
    background-color: rgb(26, 94, 76);
}
.cont{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 1rem;
}
h3{
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 2rem;
}
p{
    color: white;
}

.bt{
    text-decoration: none;
    padding: 1.2rem 3rem;
    border-radius: 25px;
    color: white;
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.304);   
    font-weight: bold;
    transition: background-color .2s, border-color .2s, box-shadow .2s, transform .15s;
}
.bt:hover{
    background: #2a8a62;
    border-color: greenyellow;
    transform: scale(1.01);
}
.btns{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}
.images{
    display: flex;
    gap:40px;
    justify-content: center;
}
.img{
    border-radius: 20px;
    width: 200px;
    height: auto;
}
.block{
    background-color: rgb(33, 73, 62);
    border-radius: 2rem;
    width: 70%;
    margin:auto;
    margin-top: 2rem;
    border: 5px dashed white;
}
