body{
    background-color: rgb(26, 94, 76);
}
.cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 6rem;
    border: 2px solid red;
}
h1{
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 1rem;
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 1rem;
}
p{
    color: white;
}

.btn{
    text-decoration: none;
    padding: 1.2rem 3rem;
    background-color: rgb(30, 69, 55);
    border-radius: 25px;
    color: white;
    transition: all 0.3s;
    display: inline-block;
}
.btn:hover{
    background-color: greenyellow;
    color: black;
    transform: scale(1.2);
}
.btns{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}
.images{
    display: flex;
    gap:40px;
    justify-content: center;
}
.img{
    border-radius: 20px;
    width: 200px;
    height: auto;
}
