.main-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#apu{
    text-align: center;
    margin-bottom: 2rem;
}
.tema{
    padding: 0.5rem;
}
.apunte{
    border-right: 2px solid white;
    position:fixed;
    top: 0;
    align-self: start;
    width: 22%;
    height: 100vh;
    padding-top: 6rem;
}
.apunte-detalle{
    background-color: rgb(15, 68, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 22%;
    width:78%;
    height: 100vh;
    padding: 2rem;
}
.options{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.options a{
    text-decoration: none;
    color: white;
    width: 100%;
}

.options a:hover{
    background-color: rgb(72, 174, 85);
    transition: 0.3s;
}

.texto{
    font-size: 1.5rem;
    text-align: justify;
    width: 70%;
    margin: 2rem;
}
.iframe iframe{
    width: 100%;
    height: 100%;
}
.iframe{
    width: 533px;
    height: 300px;
}