{% extends 'base.html' %}
{% load static %}

{% block title %}Apuntes{% endblock %}
{% block extra_css %}<!--Agregar más estilos-->
<link rel="stylesheet" href="{% static 'css/apuntes.css' %}">
{% endblock %}
{% block content %}
    <div class="main-cont">
        <aside class="apunte">
            <h1>Apuntes</h1>
            {% for apunte in apuntes %}
                <h2>
                    <a href="{% url 'contenidos:b-o-v' slug=apunte.slug %}">
                        {{ apunte.titulo }}
                    </a>
                </h2>
                <p>{{ apunte.texto }}</p>
            {% endfor %}
        </aside>
        <section class="cont">
            {% if apunt %} 
                 <section class="cont">
                    <h1>{{ apunt.titulo }}</h1>
                    <p>{{ apunt.texto }}</p>   
                </section>
            {% else %}
                <h2>Selecciona un apunte</h2>
            {% endif %}
        </section>
    </div>
{% endblock %}