
{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content%}
    <div class="container">
        <h1>Cuenta</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
         <div class="info">
         <img src="{% static 'img/cat.jpeg' %}" class="photo">
            <h3>¡Hola {{ user.username }}!</h3>        </div>
         <div class="options">
             <h3> Ajustes cuenta</h3>
             <ul>
                         <li class="button" onclick="document.getElementById('form-username').style.display = 'block';">
                    Cambiar nombre
                </li>
                
                <div id="form-username" >
                    <h4>Cambiar Nombre de Usuario</h4>
                    <form method="post" action="{% url 'account' %}">
                        {% csrf_token %}
                        {{ username_form.as_p }}
                        <button type="submit" class="button_small">Guardar Nombre</button>
                    </form>
                    {% if form.errors %}
                        <div style="color: red; margin-top: 10px;">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                    <li class="button" onclick="document.getElementById('form-password').style.display = 'block';">
                    Cambiar contraseña
                </li>
                <div id="form-password" style="display: none;">
                    <h4>Cambiar Contraseña</h4>
                    <form method="post" action="{% url 'account' %}">
                        {% csrf_token %}
                        {{ password_form.as_p }} 
                        <button type="submit" class="button_small">Guardar Contraseña</button>
                    </form>
                    {% if password_form.errors %}
                        <script>document.getElementById('form-password').style.display = 'block';</script>
                    {% endif %}
                </div>
             <li class="button">
                    Estadísticas de esta sesión: <br>
                    Respuestas correctas: {{buenas}} <br>
                    Respuestas incorrectas: {{malas}}
                 </li>
                <li class="button">
                    <a href="{% url 'logout' %}" class="btn">Cerrar Sesión ({{ user.username }})</a> 
                </li>
             </ul>
         </div>
     </div>
    
    {% if form.errors %}
    <script>
        document.getElementById('form-username').style.display = 'block';
    </script>
    {% endif %}
{% endblock %}