{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Titulo{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="left">
                <img src="{% static 'img/logo.png' %}" class="logo">
                <span class="name">Lexi</span>
            </div>
  
            <div class="right">
                {% block page %}
                <!--Boton que manda a pagina principal-->
                <a href="{% url 'lobby' %}" class="btn">
                    <img src="{% static 'img/home_icon.svg' %}">
                </a>
                {% endblock %}
                <!--Boton ayuda-->
                <button id="btn-abrir-modal">
                    <img src="{% static 'img/helpme.svg' %}">
                </button>
                
                {% block acc %}
                <!--Boton que manda a perfil cuenta-->
                <a href="{% url 'account' %}" class="btn">
                    <img class="profile" src="{% static 'img/kitty.jpg' %}">
                </a>
                {% endblock %}
            </div>
        </header>
        <!--Pestaña ayuda-->
        <div class="modal-container" id="modal-container">
            <div class="modal">
                <h2>¡Bienvenido!</h2>
                <p>Esta debe ser tu primera vez aqui ¡Dejanos guiarte por la pagina!</p>
                <button id="btn-cerrar-modal">Cerrar</button>
            </div>
        </div>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script src="{% static 'js/modal.js' %}"></script>
    </body>

</html>