{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <title>{% block title %}Titulo{% endblock %}</title><!--Cambiar titulo pag-->
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        {% block extra_css %}<!--Agregar más estilos-->
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="left">
                <img src="{% static 'img/logo.png' %}" class="logo">
                <span class="name">Lexi</span>
            </div>
  
            <div class="right">
                {% block page %}
                <!--Boton que manda a pagina principal-->
                <a href="{% url 'lobby' %}" class="btn">
                    <img src="{% static 'img/home_icon.svg' %}">
                </a>
                {% endblock %}
                
                {% block extra %}<!--Bloque por si quieren agregar algo al header-->
                {% endblock %}
                
                {% block help%}
                <!--Boton ayuda-->
                <button id="btn-abrir-modal">
                    <img src="{% static 'img/helpme.svg' %}">
                </button>
                {% endblock %}
                
                {% block acc %}
                <!--Boton que manda a perfil cuenta-->
                <a href="{% url 'account' %}" class="btn">
                    <img src="{% static 'img/person-icon.svg' %}">
                </a>
                {% endblock %}
            </div>
        </header>
        <!--Pestaña ayuda-->
        <div class="modal-container" id="modal-container">
            <div class="modal">
                {% block modal %}<!--Por si quieren cambiar cont modal ayuda-->
                {% endblock %}
                <button id="btn-cerrar-modal">Cerrar</button>
            </div>
        </div>

        <main>
            {% block content %}<!--Contenido pag-->
            {% endblock %}
        </main>
        <script src="{% static 'js/modal.js' %}"></script>
    </body>

</html>