{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lexi</title>
    <!-- para despues <link rel="stylesheet" href="{% static 'style.css' %}">-->
</head>
<body>
    <h1>Bienvenido a mi Lexi</h1>
    <hr>
    <h3>Lexi es una app de ortografia blablabla</h3>
    <ul>
        <li>
           <a href="/login/">Inicio sesión</a> 
           <p>Si ya tienes una cuenta inicia sesión</p>
        </li>
        <li>
            <a>Registrarse</a>
            <p>Si no tienes una cuenta registrate</p>
        </li>
    </ul>
</body>
</html>