{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Lexi{% endblock %}

{% block page %}
{% endblock %}

{% block acc%}
{% endblock %}

{% block extra %}
    <div class="guia">
        <p>¿No sabes como empezar?</p> 
        <p>Presiona este boton</p>
    </div>
{% endblock %}

{% block content %}
    <div class="cont">
        <h1>Bienvenido a "Lexi"</h1>
        <div class="block">
            <h3>¡Mejora tu ortografía jugando! Lexi te ayudará a aprender de manera divertida. Inicia sesión o registrate para comenzar</h3>
            <div class="images">
                <img src="static/img/lapiz.png" class="img">
            </div> 
                
            <ul class="btns">
                <li>
                    <a href="login" class="bt">Inicio sesión</a> 
                    <p>Si ya tienes una cuenta, inicia sesión</p>
                </li>

                <li>
                    <a href="registro" class="bt">Registro</a>
                    <p>Si no tienes una cuenta, registrate</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block modal %}<!--Por si quieren cambiar cont modal ayuda-->
    <h2>¡Bienvenido!</h2>
    <p>Para empezar a usar nuestra pagina, debes tener una cuenta</p>
{% endblock %}