{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
{% endblock %}
{% block title %}Bienvenido a Lexi{% endblock %}

{% block content%}
    <div class="container">
        <h1>¿Qué quieres hacer hoy?</h1>
        <h3>"Los errores no son fracasos, son señal de que lo estamos intentando"</h3>
        <div class="select">
            <a class="type" href="{% url 'contenidos:apuntes' %}"><!--Que mande a los apuntes-->
                <img src="{% static '/img/cuaderno.png'%}">
                Lee apuntes
            </a>
                
            <a class="type" href="{% url 'juego' %}"><!--Que mande al juego-->
                <img src="{% static '/img/lapiz.png'%}"> 
                Ejercita tus conocimientos
            </a>
        </div>  
    </div>
{% endblock %}