{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
{% endblock %}
{% block title %}Bienvenido a Lexi{% endblock %}
 
{% block content%}
    <div class="container">
        <h1>¿Qué quieres hacer hoy?</h1>
        <h3>"Los errores no son fracasos, son señal de que lo estamos intentando"</h3>
        <div class="select">
            <a class="type" href="{% url 'contenidos:apuntes-base' %}"><!--Que mande a los apuntes-->
                <img src="{% static '/img/cuaderno.png'%}">
                Lee apuntes
            </a>
                
            <a class="type" href="{% url 'palabra_por_contexto' %}"><!--Que mande al juego-->
                <img src="{% static '/img/lapiz.png'%}"> 
                Ejercita tus conocimientos
            </a>
        </div>  
    </div> 
{% endblock %}

{% block modal %}<!--Por si quieren cambiar cont modal ayuda-->
    <h2>¡Bienvenido!</h2>
    <p>Esta debe ser tu primera vez aqui ¡Dejanos guiarte por la pagina!</p>
    <div class="mucho-div">
        <div class="first">
            <img src="{% static '/img/boton-apu.png'%}" class="ex">
            <div class="words">
                <p>¿Qué es este boton? Si lo presionas, podras ver y aprender sobre las reglas ortograficas</p>
            </div>
        </div>
        <div class="first">
            <img src="{% static '/img/boton-eje.png'%}" class="ex">
            <div class="words">
                <p>¿Y qué hay de esté? Al presionarlo podras ejercitar las lecciones aprendidas ¡Solo tienes que colocar tu tema de interes y cuantos ejercicios/preguntas quieres!</p>
            </div>
        </div>
        <div class="first">
            <img src="{% static '/img/btns-hea.png'%}" class="ex">
            <div class="words">
                <p>¿Y estos? El simbolo de casa te llevara a la pagina de inicio, el de persona a tu perfil y el de signo de interrogacion abre esta ventana de ayuda</p>
            </div>
        </div>
    </div>
{% endblock %}