
{% extends 'base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/contexto.css' %}">{% endblock %}
{% block title %}Generador de palabras ---- Lexi ----{% endblock %}

{% block content %}
    <div class="cont">
        <div class="block">

            <h1>Generador de palabras</h1>
            
            <form method="POST" action="{% url 'palabra_por_contexto' %}">
                {% csrf_token %}
                
                <label for="input_usuario">Escribe tu Contexto/Tema para que generemos palabras acorde a lo que necesitas o quieres aprender:</label><br><br>
                <input type="text" 
                       id="input_usuario" 
                       name="input_usuario" 
                       placeholder="Ej: 'No me manejo con las tildes', 'me gustaría aprender con palabras que usaría en ...':"
                       required><br><br>

                <select name="num_palabras" required>
                    <option value="" disabled selected>Selecciona la cantidad de palabras</option>
                    <option value="5">5 palabras</option>
                    <option value="10">10 palabras</option>
                    <option value="15">15 palabras</option>
                </select><br><br>

                <button type="submit" class="bt">Enviar los datos para comenzar</button>
            </form>

            <hr>

            {% if response %}
                <h3>Resultado:</h3>
                <p style="white-space: pre-wrap;">{{ response|linebreaks }}</p>
            {% else %}
                <p>Esperando/cargando tu respuesta...</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

